body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#whole_calculator {
    min-height: 75vh;
    min-width: 55vh;
    border-style: solid;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
}

#display {
    border-style: solid;
    min-height: 20vh;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

#keypad {
    flex: 1;
}

.calc_button {
    flex-basis: 33.3333%;
    border-style: solid;
}
