body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#whole_calculator {
    min-height: 75vh;
    min-width: 55vh;
    border-style: solid;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
}

#display {
    min-height: 20vh;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 50px;
    font-size: xx-large;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#keypad {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.calc_button {
    flex-basis: 33.3333%;
    border-style: solid;
}

#operators {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}